.container {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
    background-color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listing-content {
    display: flex;
    gap: 20px;
}

.list {
    flex: 1;
}

.creation {
    flex: 1;
}