mat-card {
    max-width: 400px;
    margin: 2em auto;
    text-align: center;
  }
  
  mat-form-field {
    display: block;
  }

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.login-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.loading-spinner {
    text-align: center;
}

.error-message {
    margin-top: 10px;
}