.filter-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 20px;
    
}

app-properties-category-filter {
    flex: 1.5;
}

app-properties-location-search {
    flex: 2;
}

app-properties-radius-filter {
    flex: 1;
}

app-properties-price-range-filter {
    flex: 2;
}

app-menu {
    flex:0.1;
    padding-bottom: 20px;
}