<div class="list-header">
    <app-search-list-sort></app-search-list-sort>
    <app-pagination-controls
    [listSize]="this.filteredList.length"
    ></app-pagination-controls>
</div>
<ng-container *ngIf="filteredList.length > 0">
    <app-search-item 
    [item]="result" *ngFor="let result of paginatedList; index as i"
    (triggerDetailView)="onDetailView($event)"
    >
    </app-search-item>
</ng-container>
<app-search-detail (triggerCloseDetailView)="onCloseDetailView()" *ngIf="isDetailView" [item]="detailViewItem"></app-search-detail>
<p *ngIf="filteredList.length < 1">There are no Search Results</p>
