<!-- List Header -->
<div class="list-header">
    <app-properties-sort></app-properties-sort>
    <app-pagination-controls [listSize]="filteredList.length"></app-pagination-controls>
</div>

<!-- List Content -->
<ng-container *ngIf="!isFetching && filteredList.length > 0">
    <app-properties-item
        [item]="result"
        *ngFor="let result of paginatedList; index as i"
        (triggerDetailView)="onDetailView($event)"
    ></app-properties-item>
</ng-container>

<!-- Detail View -->
<app-properties-detail
    *ngIf="isDetailView"
    [item]="detailViewItem"
    (triggerCloseDetailView)="onCloseDetailView()"
></app-properties-detail>

<!-- No Results Message -->
<p *ngIf="!isFetching && filteredList.length < 1 && !errorMessage">
    There are no search results.
</p>

<!-- Loading Message -->
<p *ngIf="isFetching && !errorMessage">Loading...</p>

<!-- Error Message -->
<div class="error" *ngIf="errorMessage">
    <h1>An Error Occurred!</h1>
    <p>{{ errorMessage }}</p>
    <button type="button" (click)="onHandleError()" mat-raised-button color="warn">Ok</button>
</div>
