.user-properties-listing-container {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15);
    padding: 20px 20px;
    background-color: white;
}

.user-properties-listing-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.user-properties-listing-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.user-properties-list {
    flex: 1;
}

.user-properties-creation {
    flex: 1;
}

.none {
    display: none;
}

.left-bar, .right-bar {
    flex: 1;
}

.right-bar {
    display: flex; 
    justify-content: flex-end;
    align-items: center;
}

