<div class="user-properties-listing-container">
    <div class="user-properties-listing-header">
      <div class="left-bar">
        <app-user-properties-filter-bar></app-user-properties-filter-bar>
      </div>
        <div class="right-bar">
          <button class="creation-button" *ngIf="!showCreationForm" (click)="toogleShowCreationForm()" mat-raised-button color="primary">Create a New Property</button>
          <button *ngIf="showCreationForm" (click)="toogleShowCreationForm()" mat-raised-button color="primary">Hide Creation</button>
          <app-menu></app-menu>
      </div>
  </div>
  <hr>
  <div class="user-properties-listing-content">
    <app-user-properties-list *ngIf="!isSmallView || !showCreationForm" class="user-properties-list"></app-user-properties-list>
    <app-user-create-property class="user-properties-creation" *ngIf="showCreationForm"></app-user-create-property>
  </div>
</div>