.listing-item {
    max-height: 200px;
}

.flex-container {
    display: flex;
}

.listing-item-header {
    flex: 2;
  }
  
  mat-card-content {
    flex: 1;
  }
  

.listing-item-image {
    background-size: cover;
    margin-right: 20px;
}

.published {
  color: green;
  font-weight: 500;
}

.draft {
  color: grey;
  font-weight: 500;
}