<mat-card class="listing-item">
    <div class="flex-container">
        <mat-card-header class="listing-item-header">
            <div class="listing-item-image">
                <img mat-card-lg-image [src]="item.images" alt="">
            </div>
            <div class="listing-item-title">
                <mat-card-title>{{item.address}}</mat-card-title>
                <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
            </div>
        </mat-card-header>
        <mat-card-content align="end">
            <mat-card-actions align="end">
                <button (click)="onEditItem()" mat-button>Edit</button>
            </mat-card-actions>
            <p>€ {{item.price}}</p>
            <p [ngClass]="getItemStatusClass(item.status!)">{{item.status}}</p>
        </mat-card-content>
    </div>  
</mat-card>
